<table>
    <tr>
        <td>Title: </td>
        <td>
            <%= @article.title %>
        </td>
    </tr>
    <tr>
        <td>Content: </td>
        <td>
            <%= @article.content %>
        </td>
    </tr>
</table>
<%= link_to 'back', articles_path %> |
<%= link_to 'edit', edit_article_path(@article) %>
